@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    -light-shades: #FCFAFB;
    -light-accent: #D98F85;
    -main-color: #76ABD4;
    -dark-accent: #74B2BB;
    -dark-shades: #1F5D78;
    -bs-primary: #0d6efd;
    -bs-secondary: #6c757d;
    -bs-success: #198754;
    -bs-info: #0dcaf0;
    -bs-warning: #ffc107;
    -bs-danger: #dc3545;
    -roboto: 'Roboto', sans-serif;
}

Label {
    -fx-text-fill: -light-shades;
    -fx-font-size: 1.2em;
    -fx-font-family: -roboto;
}

.background {
    -fx-background-color: -dark-accent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0.2, 2, 3);
}

.scroll-pane{
    -fx-background-color: -dark-shades;
    -track-color: -dark-accent;
    -thumb-color: -light-accent;
}