@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    -light-shades: #FCFAFB;
    -light-accent: #D98F85;
    -main-color: #76ABD4;
    -dark-accent: #74B2BB;
    -dark-shades: #1F5D78;
    -bs-primary: #0d6efd;
    -bs-secondary: #6c757d;
    -bs-success: #198754;
    -bs-info: #0dcaf0;
    -bs-warning: #ffc107;
    -bs-danger: #dc3545;
    -roboto: 'Roboto', sans-serif;
}

MFXTextField, MFXPasswordField {
    -fx-text-fill: -dark-shades;
    -fx-prompt-text-fill: -light-accent;
    -fx-background-color: -bs-secondary;
    -fx-background-radius: 5 5 0 0;
    -fx-border-color: -dark-shades;
    -fx-border-width: 1;
    -fx-border-radius: 5 5 0 0;
    -fx-font-size: 1.2em;
    -fx-font-family: -roboto;
}

MFXButton {
    -fx-background-color: -dark-accent;
    -fx-text-fill: -light-shades;
    -fx-font-size: 1.2em;
    -fx-border-radius: 15;
}

GridPane {
    -fx-background-color: -bs-secondary;
}

.switchDisplayModeButton{
    -fx-background-color: -dark-shades;
    -fx-background-image: url('../icons/light_mode.png');
    -fx-background-size: 26px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}

.background {
    -fx-background-color: -dark-shades;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0.2, 2, 3);
}

.buttonLog{
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0.2, 2, 3);
}

